<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <!--https://stackoverflow.com/questions/3500829/sql-express-connection-string-mdf-file-location-relative-to-application-locatio-->
    <add name="LocalDB"
          connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=FFToiletBowl;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\FFToiletBowl.mdf"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Database" value="LocalDB"/>

    <add key="TeamMove" value="2020,OAK=LV"/>
    <add key="ESPNAbbrAlias" value="2018,WSH=WAS;1990,JAX=JAC"/>
    <add key="ESPNTeamAlias" value="2018,San Diego=SD;1990,St. Louis=STL"/>
    <add key="ESPNPlayerAlias" value="2018,A=B;"/>
    
    <!--//Need to translate between ESPN --> FFToday, for each year-->
    <!--//need to Fix schedule grid problem, with each year, changes on schedule grid, move backward in time.-->
  </appSettings>
</configuration>