<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <!--https://stackoverflow.com/questions/3500829/sql-express-connection-string-mdf-file-location-relative-to-application-locatio-->
    <add name="LocalDB"
          connectionString="Data Source=FUJIBOOKPRO-WIN\SQLSERVER2008;Initial Catalog=FFToiletBowl;Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />
    <add name="LocalDBBak"
          connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=FFToiletBowl;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\FFToiletBowl.mdf"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Database" value="LocalDB"/>
  </appSettings>
</configuration>