<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FFToiletBowl.Properties.Settings.FFToiletBowlConnectionString1"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FFToiletBowl.mdf;Initial Catalog=FFToiletBowl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FFToiletBowl.Properties.Settings.FFToiletBowlConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FFToiletBowl.mdf;Initial Catalog=FFToiletBowl;Integrated Security=True" />
    </connectionStrings>
</configuration>