<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="SqlServer" value="FUJIBOOKPRO-WIN\SQLSERVER2008"/>
  </appSettings>
    <connectionStrings>
        <add name="TwoTeamMonteCarlo.Properties.Settings.FFToiletBowlConnectionString"
            connectionString="Data Source=FUJIBOOKPRO-WIN\SQLSERVER2008;Initial Catalog=FFToiletBowl;Persist Security Info=True;User ID=toilet"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>